<ion-view view-title="TERMINO CORTE Y LOTEO">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div>
      <input type="text" ng-model="barra" id="pieza_lote_entrada" readonly="readonly" placeholder="escanea un codigo de pieza..." class="focusme" />
      <div class="header" ng-if="packet.length > 0">
        <div style='font-size:18px; font-weight:bold;'>OT {{packet[0].OT}}</div>
        <b>{{packet[0].cardname}}</b><br />
        <i>{{ot.unPacket.length}} piezas no loteadas</i>
      </div>

      <ion-scroll direction="y" style="height: calc(100vh - 250px)">
         
        <h5 style='color:red; text-align:center;' ng-if="packet.length == 0">NO HAY PIEZAS<br />EN ESTE LOTE<br /><br />Empieza a leer las piezas<br /> para agregar a este lote</h5>
        <br /> 
        <div class="" style="display:inline-block; width:100%; margin-right: 20px; font-size: 25px; margin-bottom: 10px;" ng-repeat="linea in packet">
          <div class="row">
            <div class="col-100 conteo-articulo" style="width:100%;">
              <button ng-click="borrar(linea.internalcode)" style="height: 20px; line-height: 20px; min-width: 20px; width: 20px; min-height: 20px; text-align: center; padding: 0px;" class="button button-assertive">X</button> <span>{{linea.internalcode}}</span><br /><i>Marca: <b>{{linea.mark}}</b><br />{{linea.kg}} kgs - {{linea.dimtype}}</i>
            </div> 
          </div>
          
        </div> 
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarLote()">CANCELAR</button>
        <button class="button button-assertive button-small" ng-if="packet.length > 0" ng-click="finishLote()">CREAR LOTE</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>