<ion-view view-title="CALIDAD" cache-view="false">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div ng-hide="packing"> 

      <center>
        <h3><br /><br />Control de Calidad<br /><br />Escanea un packing<br />para comenzar</h3>
      </center>
    </div>
    <div ng-hide="!packing">
      <div class="header">
        <div class="row">
          <div class="col-67">
            <div style='font-size:18px; font-weight:bold;'>{{packing.pkg}}</div>
            <b>{{packing.cardname}}</b><br />
            <div class="paquete">{{getSelected()}} asignada de {{packing.pieces.length}}</div> 
          </div>
          <div class="col-33 text-right">
            <button class="button button-balanced button-small" ng-if="packing.pieces.length > 0" ng-click="marcarOkTodo()">TODO OK</button>
          </div>
        </div>
      </div>
      <div class="row" style="border-bottom:1.5px solid gray;">
        <div class="col-67"><b>Marca / Correlativo</b></div>
        <div class="col-33"><b>Código rechazo</b></div>
      </div>
      <ion-scroll direction="y" style="height: calc(100vh - 150px)">
        <div ng-repeat="piece in packing.pieces" class="piece-group row" ng-class="{flashme: piece.flashme == 1}">
          <div class="col-67">
            <div class="piece" style="min-width:80%;" ng-click="intercalateCalidad($index)" ng-class="{on: piece.allowed == 1, died: piece.allowed == -1}">
              {{piece.mark}} / {{piece.corr}}
            </div>
          </div>
          <div class="col-33 text-center" style="padding-top:5px;">
             <button ng-hide="piece.allowed != -1" class="button button-assertive button-small" ng-click="rechazoCode(piece.code,$index)">{{(piece.code != '' ? piece.code : 'codigo')}}</button>
          </div>

        </div>
             
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelar()">CANCELAR</button>
        <button class="button button-assertive button-small" ng-if="packing.pieces.length > 0" ng-click="procesar()">PROCESAR</button>
      </div>
    </div>    
  </ion-footer-bar>
</ion-view>