<ion-modal-view>
<ion-header-bar class="bar-assertive">
  <h1 class="title">CONÉCTATE</h1>
</ion-header-bar>
<ion-content style="padding:15px; text-align:center;">
  <br /><br />
  <img src="proindar.png" style="max-width:100%;" />
  <h4>Para comenzar<br />Escanea la tarjeta de usuario</h4>
  <br />
  <input type="text" ng-model="$root.usercode" id="loginmd5" readonly="readonly" style="background-color:#fbffbd; margin:auto; font-size: 25px;border:2px solid black;padding:6px;width:80%;" />
  <br /><br />
  <h4>Las operaciones se liberan según las credenciales de cada usuario</h4>
</ion-content>
</ion-modal-view>