<ion-view view-title="MOVER PIEZAS">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">

    <div style="text-align:center; display:none;">
         <br> 
         <center>
          <h3>¿donde se encuentran actualmente?</h3>
         </center>
         <br /> 
         <button class="button button-royal button-default icon ion-qr-scanner" ng-click="MOVER('1')"> CORTE</button>
         <br /><br />
         <button class="button button-royal button-default icon ion-qr-scanner" ng-click="MOVER('2')"> ARMADO</button>
         <br /><br />
         <button class="button button-royal button-default icon ion-qr-scanner" ng-click="MOVER('3')"> LIMPIEZA</button>
         <br /><br />
         <button class="button button-royal button-default icon ion-qr-scanner" ng-click="MOVER('4')"> CALIDAD</button>
         <br /><br />
         <button class="button button-royal button-default icon ion-qr-scanner" ng-click="MOVER('5')"> GALVANIZADO</button>

    </div>

    <div> <!--   ng-hide="!enableOp"-->
      <input type="text" ng-model="barra" id="textbox_moveme" readonly="readonly" placeholder="escanea un codigo de pieza..." style="background-color: rgb(251, 255, 189);  font-size: 20px; width:100%; border: 2px solid black; padding: 10px;" />
      <h4>Piezas:</h4>
      <!--
      <div class="row">
        <div class="col-33"><h4 style="line-height:8px;" ng-style="!flowforward && {'color':'black'} || {'color': '#DEDEDE'}">Retroceder</h4></div>
        <div class="col-33 text-center">
          <label class="toggle">
             <input type="checkbox" ng-model="flowforward">
             <div class="track">
               <div class="handle"></div>
             </div>
          </label>
        </div>
        <div class="col-33"><h4 style="line-height:8px;" ng-style="flowforward && {'color':'black'} || {'color': '#DEDEDE'}">Avanzar</h4></div>
      </div>
      -->

      <ion-scroll direction="y" style="height: calc(100vh - 180px)">
        <h5 style='color:red; text-align:center;' ng-if="packet.length == 0">NO HAY PIEZAS<br />PARA GESTIONAR<br /><br />Empieza a leer las piezas para agregar a esta gestión</h5>
        <div style="border:1px solid #DEDEDE; margin-top:12px;margin-bottom:12px;" ng-repeat="piece in packet">
          <div class="" style="padding:5px;"><button ng-click="borrar(piece.internalcode)" style="height: 20px; line-height: 20px; min-width: 20px; width: 20px; min-height: 20px; text-align: center; padding: 0px;" class="button button-assertive">X</button> <b>Marca: {{piece.mark}}</b></div>
          <div class="" style="padding:5px;">
            <ion-segment ng-model="piece.destination" full="true" proindar>
              <ion-segment-button ng-value="piece.prevStep.name">
                {{piece.prevStep.name}}
              </ion-segment-button>
              <ion-segment-button ng-value="piece.currentStep.id">
                {{piece.currentStep.name}}
              </ion-segment-button>
              <ion-segment-button ng-value="piece.nextStep.id">
                {{piece.nextStep.name}}
              </ion-segment-button>
            </ion-segment>
          </div>
          <div class="" style="padding:5px;">Cod.: {{piece.internalcode}} | {{piece.dimtype}}</div> 
        </div>
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarEntrega()">CANCELAR</button> 
        <button class="button button-assertive button-small" ng-if="packet.length > 0" ng-click="finishMover()">CONTINUAR</button> 
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>