<ion-view view-title="MOVER PACKING" cache-view="false">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div ng-hide="packings.length > 0">
      <center>
        <h3><br /><br />MOVER PACKING - ESCANEE UNO O MÁS PACKING</h3>
      </center>
    </div>
    <div ng-hide="packings.length == 0">
      <div class="header">
        <div class="row">
          <div class="col-100">
            <!--
            <div style='font-size:18px; font-weight:bold;'>OT {{ot.ot}}-{{ot.corr}}</div>
            <b>{{ot.cardname}}</b><br />
            -->
            <div style='font-size:18px; font-weight:bold;'>MOVIMIENTO DE PACKINGS</div>
          </div>
          <!--
          <div class="col-33 text-right">
          </div>
          -->
        </div>
      </div>

      <div class="proindar-tab">
        <div class="proindar-tab-2">
          <div class="proindar-in" ng-click="changeTab('panel')" ng-class="{sel: activeTab == 'panel'}">Packing lists</div>
        </div>
      </div>
      <ion-scroll direction="y" class="piece_container">
        <!-- Agrupar por panel -->
        <div ng-hide="activeTab != 'panel'">
          <div ng-repeat="packing in packings" class="piece-group">
            <div class="packing-title">
              <div class="row">
                <div class="col-67">{{packing.pkg.name}}<br /></div>
                <div class="col-33 text-right">
                  <button ng-click="borrar($index)" class="button button-assertive button-derecha">X</button>
                </div>
              </div>
              <div class="row">
                <div class="col-67">
                  {{packing.ot.cardname}}
                </div>
                <div class="col-33 text-right">
                  {{packing.pkg.pieces}} piezas
                </div>
              </div>
            </div>
            <div class="move-packing-badged" ng-click="packing.destination = 0" ng-class="{on: packing.destination == 0}">
              NO MOVER
            </div>
            <div class="move-packing-badged" ng-if="packing.ot.name == 'GALVANIZADO' && packing.pkg.ext_1 == '0'" ng-click="packing.destination = 1" ng-class="{on: packing.destination == 1}">
              GALVANIZADO
            </div>
            <div class="move-packing-badged" ng-click="packing.destination = 2" ng-class="{on: packing.destination == 2}">
              BODEGA
            </div>
          </div> 
        </div>
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelar()">CANCELAR</button>
        <button class="button button-balanced button-small" ng-if="packings.length > 0" ng-click="prepareMoving()">EJECUTAR</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>