<ion-view view-title="MOVER PIEZAS">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div ng-if="!enableOp">
      <br><br><br>
      <center>
        <h3>Escanee un código de pieza para mover</h3>
      </center>
    </div>

    <div ng-hide="!enableOp">

      <!--<button style="margin-top:-6px;" class="button button-picking button-positive icon ion-plus-circled" ng-click="agregarEmparejado();"> Agregar Emparejado</button>   -->
      <!--<button style="margin-top:-6px;" class="button button-picking button-assertive icon ion-share" ng-click="cancelar();"> CANCELAR</button>   -->
      <input type="text" ng-model="barra" id="textbox_moveme" readonly="readonly" placeholder="escanea un codigo de OT..." style="background-color: rgb(251, 255, 189);  font-size: 20px; width:100%; border: 2px solid black; padding: 10px;" />
      <br />
      <hr />
      <ion-scroll direction="y" style="height: calc(100vh - 250px)">
         
          
         
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarEntrega()">CANCELAR</button>
        <button class="button button-assertive button-small" ng-if="enableOp" ng-click="finishConteo()">ENVIAR A SAP</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>