<ion-view view-title="PRODUCTO">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div ng-if="!enableOp">
      <br><br><br>
      <center>
        <h3>Escanee un código de artículo</h3>
      </center>
    </div>

    <div ng-hide="!enableOp">
      <div style="background-color: #003366; text-align:center;"><h3 style="color:#FFF; padding: 10px;">
        <div class="row">
          <div class="col-50">
            CODIGO<br />{{info.code}}
          </div>
          <div class="col-50" style="text-align:right:">STOCK:<br />{{info.qty}}</div>
        </div>
        </h3>
      </div> 
      <div style="background-color: #003366; text-align:center;">
        <h3 style="color:#FFF; padding: 10px;">
          {{info.description}}<br />{{info.price | currency: "$ ":0}}
      </h3></div>
      <div class="row">
        <div class="col-50">
          <h4>Ubicaciones ({{locations.length}}):</h4>
        </div>
        <div class="col-50">
          <button class="button button-royal button-small" ng-click="AGREGAR_UBICACION()"> AGREGAR UBICACION</button>
        </div>
      </div>
      
        <ion-scroll direction="y" style="height: calc(100vh - 350px)">
        <div class="" style="display:block; font-size: 25px;" ng-repeat="linea in locations">
          <div class="row">
            <div class="col-100 conteo-bulto">
              <button class="button button-assertive button-small" ng-click="BORRAR_UBICACION(linea.location_code)">borrar</button> {{linea.location_code}} 
            </div> 
          </div>
          
        </div> 
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" ng-if="conteo == 0">
        <strong>SALIR?</strong>
      </div>
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarConteo()">SALIR</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>