<ion-view view-title="RECEPCIÓN DE OT">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div ng-hide="enableOp">
      <input type="text" ng-model="barra" id="textbox_ot1" readonly="readonly" placeholder="escanea una OT..." class="focusme" />
      <br><br><br>
      <center>
        <h3>Escanee un código de OT</h3>
      </center>
    </div>

    <div ng-hide="!enableOp">
      <input type="text" ng-model="pieza" id="textbox_bo1" readonly="readonly" placeholder="escanea un codigo de pieza..." class="focusme" />
      <div class="header">
        <div class="row">
          <div class="col-67">
            <div style='font-size:18px; font-weight:bold;'>OT {{ot.ot}}-{{ot.corr}}</div>
            <b>{{ot.cardname}}</b><br />
            <i>{{ot.unReceived.length}} pendientes de recibir</i>
            <br />
          </div>
          <div class="col-33">
            <button class="button button-balanced button-small" ng-if="enableOp && ot.unReceived.length > 0" ng-click="recibirTodo()">RECIBIR TODO LO PENDIENTE</button>
          </div>
        </div>
      </div>

      <ion-scroll direction="y" style="height: calc(100vh - 250px)">
         
        <h5 style='color:red; text-align:center;' ng-if="packet.length == 0"><br /><br />PARA RECIBIR UNA PIEZA<br /><br />LEA UN COD. DE BARRA</h5>
        <br /> 
        <div class="" style="display:inline-block; width:100%; margin-right: 20px; font-size: 25px; margin-bottom: 10px;" ng-repeat="linea in packet">
          <div class="row">
            <div class="col-100 conteo-articulo" style="width:100%;">
              <button ng-click="borrar(linea.internalcode)" style="height: 20px; line-height: 20px; min-width: 20px; width: 20px; min-height: 20px; text-align: center; padding: 0px;" class="button button-assertive">X</button> <span>{{linea.internalcode}}</span><br /><i>Marca: <b>{{linea.mark}}</b><br />{{linea.kg}} kgs - {{linea.dimtype}}</i>
            </div> 
          </div>
          
        </div> 
      </ion-scroll>
    </div>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarRecibir()">CANCELAR</button>
        <button class="button button-assertive button-small" ng-if="enableOp && packet.length > 0" ng-click="confirmarRecibir()">CONFIRMAR RECIBIR</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>