<ion-view view-title="BIENVENIDO">
  <ion-content class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">

    <div class="text-center homes"> 
      <img src="proindar.png" style="max-width: 180px;" />
      <br />
      <div ng-if="perm[1] || perm[2]">
        <h2>BODEGA</h2>
        <button ng-if="perm[1]" class="button button-royal button-default icon ion-qr-scanner" ng-click="ENTREGA()"> ENTREGA LIBRE</button>
        <br /><br /> 
        <button ng-if="perm[2]" class="button button-royal button-default icon ion-qr-scanner" ng-click="VALE_CONSUMO()"> CONSUMO DE OT</button>
        <br /><br /> 
      </div>
      <div ng-if="perm[3] || perm[4] || perm[5] || perm[6] || perm[7] || perm[8] || perm[9] || perm[10] || perm[11] || perm[12] || perm[13] || perm[14] || perm[15]">
        <h2>PRODUCCIÓN</h2>
        
        <div class="row row-step">
          <div class="col-33 text-left"><h5>PREP. MATERIALES</h5></div>
          <div class="col-67 text-center"><button ng-if="perm[3]" class="button button-calm btn-step" ng-click="RECEPCIONAR_OT()"> RECEPCIONAR OT</button></div>
        </div>
        <div class="row row-step">
          <div class="col-33 text-left"><h5>CORTE</h5></div>
          <div class="col-33 text-center"><button ng-if="perm[4]" class="button button-royal btn-step" ng-click="INICIAR('3')"> ASIGNAR</button></div>
          <div class="col-33 text-center"><button ng-if="perm[5]" class="button button-assertive btn-step" ng-click="TERMINAR('3')"> TERMINAR</button></div>
          <!--<div class="col-25 text-center"><button ng-if="perm[6]" class="button button-success btn-step" ng-click="CAMBIAR_ETAPA('4')"> MOVER A ARMADO</button></div>-->
        </div>

        <div class="row row-step">
          <div class="col-33 text-left"><h5>ARMADO</h5></div>
          <div class="col-33 text-center"><button ng-if="perm[7]" class="button button-royal btn-step" ng-click="INICIAR('4')"> ASIGNAR</button></div>
          <div class="col-33 text-center"><button ng-if="perm[8]" class="button button-assertive btn-step" ng-click="TERMINAR('4')"> TERMINAR</button></div>
          <!--<div class="col-25 text-center"><button ng-if="perm[9]" class="button button-success btn-step" ng-click="CAMBIAR_ETAPA('5')"> MOVER A SOLDADURA</button></div>-->
        </div>

        <div class="row row-step">
          <div class="col-33 text-left"><h5>SOLDADURA</h5></div>
          <div class="col-33 text-center"><button ng-if="perm[10]" class="button button-royal btn-step" ng-click="INICIAR('5')"> ASIGNAR</button></div>
          <div class="col-33 text-center"><button ng-if="perm[11]" class="button button-assertive btn-step" ng-click="TERMINAR('5')"> TERMINAR</button></div>
          <!--<div class="col-25 text-center"><button ng-if="perm[12]" class="button button-success btn-step" ng-click="CAMBIAR_ETAPA('6')"> MOVER A TERMIN.</button></div>-->
        </div>

        <div class="row row-step">
          <div class="col-33 text-left"><h5>TERMINACIÓN</h5></div>
          <div class="col-33 text-center"><button ng-if="perm[13]" class="button button-royal btn-step" ng-click="INICIAR('6')"> ASIGNAR</button></div>
          <div class="col-33 text-center"><button ng-if="perm[14]" class="button button-assertive btn-step" ng-click="TERMINAR('6')"> TERMINAR</button></div>
          <!--<div class="col-25 text-center"><button ng-if="perm[15]" class="button button-success btn-step" ng-click="CAMBIAR_ETAPA('7')"> PACKING ENTREGA</button></div>-->
        </div>

        <div class="row row-step">
          <div class="col-33 text-left"><h5>ENTREGA</h5></div>
          <div class="col-67 text-center"><button ng-if="perm[15]" class="button button-balanced btn-step" ng-click="PACKING()"> ARMAR PACKING</button></div>
        </div>

      </div>
      <div ng-if="perm[16]">
        <h2>CALIDAD</h2>
        <button ng-if="perm[16]" class="button button-success" ng-click="CALIDAD('allow')"> LIBERAR</button>
        <button ng-if="perm[16]" class="button button-assertive" ng-click="CALIDAD('reject')"> RECHAZAR</button>
        <br /><br />
      </div>
    </div>
  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="row">
      <div class="col col-67 text-center">
        <strong style="font-size: 18px; margin-top:-3px;display:block;">{{$root.nombre}}</strong>
      </div>
      <div class="col col-33 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="close()">CERRAR CUENTA</button>
      </div>
    </div>    
  </ion-footer-bar>
</ion-view>