<ion-view view-title="TERRABIKE MOBILE">
  <ion-content class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">

    <div class="text-center homes">
    <br /><br /><br /><br />
    <button class="button button-royal button-default icon ion-podium" ng-click="CONTEO('BODEGA')"> TOMAR INVENTARIO</button>
    <br /><br /><br /><br />
    <button class="button button-royal button-default icon ion-podium" ng-click="CONSULTAR_PRODUCTO()"> CONSULTAR PRODUCTO</button>
    <br /><br /><br /><br />
    <button class="button button-royal button-default icon ion-podium" ng-click="INGRESO_UBICACION()"> AGREGAR A UBICACION</button>
    <br /><br />
    </div>

  </ion-content>
  <ion-footer-bar class="bar-assertive">
    <div class="row">
      <div class="col col-100 text-center">
        <strong>SELECCIONAR OPERACI&Oacute;N</strong>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>