<ion-view view-title="VALE DE CONSUMO">
  <ion-content scroll="false" class="home" on-swipe-right="onSwipeRight($event)" on-swipe-left="onSwipeLeft($event)">
    <div class="header">
      <b ng-if="vale == null">Escanea un vale de consumo para comenzar:</b>
      <div ng-if="vale != null" style='font-size:18px; font-weight:bold; text-align: center;'>{{vale.barcode}}<br /></div>
      <b ng-if="vale != null">{{vale.fullname}}<br /></b><span ng-if="vale != null">{{vale.cardname}}</span>
    </div>
    <ion-scroll direction="y" style="height: calc(100vh - 250px);border: 1px solid #EDEDED;">
       
      <h5 style='color:red; text-align:center;' ng-if="vale.items.length == 0">NO HAY PRODUCTOS<br />EN ESTE VALE DE CONSUMO<br /></h5>

      <div class="tablitla" style="width:100%; margin-right: 20px; margin-bottom: 10px;" ng-repeat="linea in vale.items">
        <div class="row" ng-if="$index == 0">
          <div class="col-33">
            <b>Artículo</b>
          </div>
          <div class="col-33 text-center">
            <b>Pendientes</b>
          </div>
          <div class="col-33 text-center">
            <b>Entrega</b>
          </div>
        </div>
        <div class="row">
          <div class="col-33">
            <b>{{linea.itemcode}}</b><br />{{linea.description}}
          </div>
          <div class="col-33 text-center">
            <b>{{formatQty(linea.pending)}}</b>
          </div>
          <div class="col-33 text-center">
            <a ng-click="moveParcial($index,-1)" class="button button-assertive btn-single-left">-</a>
            <b>{{formatQty(linea.parcial)}}</b>
            <a ng-click="moveParcial($index,1)" class="button button-success btn-single-right">+</a>
            <br /><br />SAP: {{(linea.eq * linea.parcial| number: 2)}}
          </div>
        </div>
        
      </div> 
    </ion-scroll>

  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="row">
      <div class="col col-100 text-center" style="margin-top: -10px;">
        <button class="button button-dark" ng-click="cancelarValeConsumo()">CANCELAR</button>
        <button class="button button-assertive button-small" ng-if="vale.items.length > 0" ng-click="finishValeconsumo()">ENVIAR A SAP</button>
      </div>
    </div>
    
  </ion-footer-bar>
</ion-view>